:root {
  color-scheme: light dark;

  --primary-hue: 42;
  --primary-saturation: 95%;
  --primary-color: hsl(var(--primary-hue), var(--primary-saturation), 63%);
  --primary-color-100: hsl(var(--primary-hue), var(--primary-saturation), 10%);
  --primary-color-200: hsl(var(--primary-hue), var(--primary-saturation), 25%);
  --primary-color-300: hsl(var(--primary-hue), var(--primary-saturation), 50%);
  --primary-color-400: hsl(var(--primary-hue), var(--primary-saturation), 75%);
  --primary-color-500: hsl(var(--primary-hue), var(--primary-saturation), 85%);

  --light-color: hsl(var(--primary-hue), 22%, 86%);
  --dark-color: hsl(var(--primary-hue), 4%, 25%);

  --gray-saturation: 20%;
  --gray-100: hsl(var(--primary-hue), var(--gray-saturation), 10%);
  --gray-200: hsl(var(--primary-hue), var(--gray-saturation), 20%);
  --gray-300: hsl(var(--primary-hue), var(--gray-saturation), 30%);
  --gray-400: hsl(var(--primary-hue), var(--gray-saturation), 40%);
  --gray-500: hsl(var(--primary-hue), var(--gray-saturation), 50%);
  --gray-600: hsl(var(--primary-hue), var(--gray-saturation), 60%);
  --gray-700: hsl(var(--primary-hue), var(--gray-saturation), 70%);
  --gray-800: hsl(var(--primary-hue), var(--gray-saturation), 80%);
  --gray-900: hsl(var(--primary-hue), var(--gray-saturation), 90%);

  --main-font: "Lato", sans-serif;
  --title-font: "Montserrat Alternates", sans-serif;
  --subtitle-font: "Happy Monkey", cursive;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: var(--main-font);
  color: var(--dark-color);
  background-color: var(--light-color);
  max-height: 100%;
  max-width: 100%;
}

/*  
========================================================================
HEADER
======================================================================== 
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 30px;
}

header h2 {
  font-family: var(--subtitle-font);
}

header a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------------------------------------------------ 
Nav
------------------------------------------------------------------------ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

nav a {
  background-color: var(--primary-color-200);
  color: var(--primary-color-500);
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 10px;
}

nav a:focus {
  background-color: var(--primary-color-100);
  font-weight: bold;
}

/*  
========================================================================
MAIN
======================================================================== 
*/

main {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;
  border-width: 3px 0;
  border-style: solid;
  border-color: var(--dark-color);
}

/* ------------------------------------------------------------------------ 
Section
------------------------------------------------------------------------ */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
  padding: 20px;
  gap: 20px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--dark-color);
}

main section:nth-child(2n + 1) {
  background-color: var(--primary-color);
}

main section:nth-child(2n) {
  background-color: var(--primary-color-200);
  color: var(--light-color);
}

main section:last-child {
  border: none;
}

section h1 {
  font-family: var(--subtitle-font);
  font-size: 30px;
  text-align: center;
}

.paragraph-with-picture {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ------------------------------------------------------------------------ 
Contact form
------------------------------------------------------------------------ */

form[name="contact-form"] {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 60%;
}

form[name="contact-form"] > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form[name="contact-form"] > label > * {
  background-color: var(--light-color);
  border: none;
  border-bottom: 2px solid var(--dark-color);
  border-radius: 5px 0 5px 0;
  padding: 10px 5px;
  transition: box-shadow 0.15s ease-in-out;
}

form[name="contact-form"] > label > *:focus {
  background-color: var(--light-color);
}

form[name="contact-form"] > label:has(*:focus) {
  font-weight: bold;
}

button[type="submit"] {
  background-color: var(--primary-color-200);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: var(--primary-color-100);
  font-weight: bold;
}

button[type="submit"]:active {
  box-shadow: 0 0 0 3px var(--primary-color-500);
}

/*  
========================================================================
FOOTER
======================================================================== 
*/

footer {
  text-align: center;
  font-family: var(--title-font);
  padding: 20px;
}

/*  
========================================================================
GENERAL
======================================================================== 
*/

:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-color-200);
}

.divider {
  content: url("../static/divider.svg");
}

.divider_white {
  content: url("../static/divider_white.svg");
}

.flip-horizontally {
  transform: scaleX(-1);
}

/* Code from the internet to create a symbol for external links */
a[target="_blank"] {
  position: relative;
}

a[target="_blank"]:after {
  position: absolute;
  top: 3px;
  right: -15px;
  content: "\1f855";
  font-size: 13px;
  color: black;
  line-height: 3px;
  height: 5px;
  width: 5px;
  border-right: 2px solid white;
  border-top: 2px solid white;
}
a[target="_blank"]:before {
  position: absolute;
  top: 4px;
  right: -15px;
  content: " ";
  border: 1px solid black;
  width: 8px;
  height: 8px;
}